<!DOCTYPE HTML>
<html lang="ja-JP">
<head>
<title>イベント（確認）</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="$link.contextPath/bootstrap/css/bootstrap.css" type="text/css" />
<script src="$link.contextPath/js/jquery-1.7.2.min.js" ></script>
<script src="$link.contextPath/bootstrap/js/bootstrap.js"></script>
</head>
<body id="event_register_confirm">
<div class="container">
<div class="row">
<div class="span12">
</div>
</div>
</div>
</body>
</html>