#springBind( "event.*" )
#if( $status.error )
<div class="alert alert-error">
<p class="error-message">#errorMessage( "event.name" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.content.explanation.explanation" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.content.headCount.headCount" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.period.applicantDateRange.collect" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.period.applicantDateRange.empty" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.period.dateOf.afterToday" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.period.dateOf.collectFormat" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.period.dateOf.empty" )</p>
<p class="error-message">#errorMessage( "event.eventDetail.period.collect" )</p>
</div><br />
#end