<form id="event" method="post" action="$link.relative("/events/new")" >
<table class="table table-bordered">
<tbody>
<tr>
<td>イベント名</td>
<td>#springFormHiddenInput ( "event.id" )
<dd>#springFormInput( "event.name", 'class="formtext" maxlength="30" size=""' )</dd>
</td>
</tr>
<tr>
<td>イベント説明</td>
<td>#springFormTextarea( "event.eventDetail.content.explanation.explanation", 'class="formtext" rows="15" cols="180"' )</td>
</tr>
<tr>
<td>開催日</td>
<td>
#springFormInput( "event.eventDetail.period.dateOf.timeStampFormat.dateStamp.dateStamp", 'class="formtext" maxlength="70" size=""' )
<i class="icon-calendar"></i>
#springFormInput( "event.eventDetail.period.dateOf.timeStampFormat.hourMinute.hourMinute", 'class="formtext" maxlength="70" size=""' )
</td>
</tr>

</tbody>
</table>

<table class="table table-bordered">
<tbody>
<tr>
<td>募集人数</td>
<td>
#springFormInput( "event.eventDetail.content.headCount.headCount", 'class="formtext" maxlength="5" size=""' )
</td>
</tr>

<tr>
<td>応募開始日</td>
<td>
#springFormInput( "event.eventDetail.period.applicantDateRange.start.dateStamp.dateStamp", 'class="formtext" maxlength="15" size=""' )
<i class="icon-calendar"></i>
#springFormInput( "event.eventDetail.period.applicantDateRange.start.hourMinute.hourMinute", 'class="formtext" maxlength="15" size=""' )
</td>
</tr>

<tr>
<td>応募終了日</td>
<td>
#springFormInput( "event.eventDetail.period.applicantDateRange.end.dateStamp.dateStamp", 'class="formtext" maxlength="15" size=""' )
<i class="icon-calendar"></i>
#springFormInput( "event.eventDetail.period.applicantDateRange.end.hourMinute.hourMinute", 'class="formtext" maxlength="15" size=""' )
</td>
</tr>

</tbody>
</table>

<table class="table table-bordered">
<tbody>
<tr>
<td colspan="2">
<input type="hidden" value="yes" name="draft" id="draft">
<input type="hidden" value="$!{requestToken}" name="requestToken" id="requestToken">
<input type="submit" value="確認画面へ" style="padding: 2px 12px;" class="btn" id="confirm">
</td>
</tr>
</tbody>
</table>
</form>