#springBind( "eventerForm.*" )
#if( $status.error )
<div class="alert alert-error">
<p class="error-message">#errorMessage( "eventerForm.profile.personName.lastName" )</p>
<p class="error-message">#errorMessage( "eventerForm.profile.personName.firstName" )</p>
<p class="error-message">#errorMessage( "eventerForm.contact.mailAddress.mailAddress" )</p>
<p class="error-message">#errorMessage( "eventerForm.contact.telephoneNumber.number" )</p>
<p class="error-message">#errorMessage( "eventerForm.passwords.password.password" )</p>
<p class="error-message">#errorMessage( "eventerForm.passwords.conform" )</p>
</div><br />
#end