#springBind( "eventer.*" )
#if( $status.error )
<div class="alert alert-error">
<p class="error-message">#errorMessage( "eventer.eventerDetail.personalInfomation.profile.personName.lastName" )</p>
<p class="error-message">#errorMessage( "eventer.eventerDetail.personalInfomation.profile.personName.firstName" )</p>
<p class="error-message">#errorMessage( "eventer.eventerDetail.personalInfomation.contact.mailAddress.mailAddress" )</p>
<p class="error-message">#errorMessage( "eventer.eventerDetail.personalInfomation.contact.telephoneNumber.number" )</p>
<p class="error-message">#errorMessage( "eventer.eventerDetail.passwords.password.password" )</p>
<p class="error-message">#errorMessage( "eventer.eventerDetail.passwords.confirm.password" )</p>
</div><br />
#end