<form id="eventer" method="post" action="$link.relative("/eventer")" >
<table class="table table-bordered">
<tbody>
<tr>
<td>姓名(全角文字)</td>
<td>
<dt><label>姓</label></dt>
<dd>#springFormInput( "eventer.profile.lastName", 'class="formtext" maxlength="30" size=""' )<br />例：佐藤</dd>
<dt><label>名</label></dt>
<dd>#springFormInput( "eventer.profile.firstName", 'class="formtext" maxlength="30" size=""' )<br />例：太郎</dd>
</td>
</tr>
<tr>
<td>メールアドレス(半角英数字)</td>
<td>#springFormInput( "eventer.contact.mailAddress", 'class="formtext" maxlength="70" size=""' )<br />例：sato@mail.com</td>
</tr>
<tr>
<td>電話番号(半角数字)</td>
<td>#springFormInput( "eventer.contact.telephoneNumber", 'class="formtext" maxlength="70" size=""' )<br />例：090-1111-2222</td>
</tr>

</tbody>
</table>

<table class="table table-bordered">
<tbody>
<tr>
<td>パスワードを入力して下さい。</td>
<td>
<dt><label>パスワード</label></dt>
<dd>#springFormPasswordInput( "eventer.passwords.password", 'class="formtext" maxlength="30" size=""' )</dd>
<dt><label>確認</label></dt>
<dd>#springFormPasswordInput( "eventer.passwords.confirm", 'class="formtext" maxlength="30" size=""' )</dd>
</td>
</tr>

</tbody>
</table>

<table class="table table-bordered">
<tbody>
<tr>
<td colspan="2">
<input type="hidden" value="yes" name="draft" id="draft">
<input type="submit" value="確認画面へ" style="padding: 2px 12px;" class="btn">
</td>
</tr>
</tbody>
</table>
</form>