<!DOCTYPE HTML>
<html lang="ja-JP">
<head>
<title>イベント主催者</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="$link.contextPath/bootstrap/css/bootstrap.css" type="text/css" />
<script type="text/javascript" src="$link.contextPath/js/jquery-1.7.2.min.js" />
</head>
<body id="eventer_register">
<div class="container">
$link.contextPath
</div>
</body>
</html>