<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p (%F:%L - %M) - %m%n" />
    </layout>
  </appender>

  <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/usr/local/tomcat/logs/basic-sample.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p (%F:%L - %M) - %m%n" />
    </layout>
  </appender>

  <category name="jp.cyberagent">
    <priority value="warn"/>
  </category>

  <category name="java.sql">
    <priority value="debug"/>
  </category>

  <category name="com.pilgrim_lifestyle.security.service" additivity="false">
    <priority value="info" />
    <appender-ref ref="file" />
  </category>

  <root>
    <priority value="warn" />
    <appender-ref ref="stdout" />
  </root>

</log4j:configuration>
