<table class="table table-bordered">
<tbody>
<tr>
<td>姓名(全角文字)</td>
<td>
<dt><label>姓</label></dt>
<dd>$esc.html( ${eventerForm.profile.personName.lastName} )</dd>
<dt><label>名</label></dt>
<dd>$esc.html( ${eventerForm.profile.personName.firstName} )</dd>
</td>
</tr>
<tr>
<td>メールアドレス(半角英数字)</td>
<td>$esc.html( ${eventerForm.contact.mailAddress.mailAddress} )</td>
</tr>
<tr>
<td>電話番号(半角数字)</td>
<td>$esc.html( ${eventerForm.contact.telephoneNumber.number} )</td>
</tr>

</tbody>
</table>

<table class="table table-bordered">
<tbody>
<tr>
<td>パスワード</td>
<td>
<dt><label>パスワード</label></dt>
<dd>********</dd>
</td>
</tr>

</tbody>
</table>


<table class="table table-bordered">
<tbody>
<tr>
<td colspan="2">

<form id="eventer" method="post" action="$link.relative("/eventers/new")" >
<input type="hidden" value="no" name="draft" id="draft">
<input type="hidden" value="$!{requestToken}" name="requestToken" id="requestToken">
<input type="submit" value="登録" style="padding: 2px 12px;" class="btn">
</form>

<form id="eventerput" method="post" action="$link.relative("/eventers/new")" >
<input type="hidden" name="_method" value="PUT"/>
<input type="hidden" value="yes" name="draft" id="draft">
<input type="hidden" value="$!{requestToken}" name="requestToken" id="requestToken">
<input type="submit" value="修正" style="padding: 2px 12px;" class="btn">
</form>

</td>
</tr>
</tbody>
</table>