<form id="eventer" method="post" action="$link.relative("/eventer")" >
<table class="table table-bordered">
<tbody>
<tr>
<td>姓名(全角文字)</td>
<td>
<dt><label>姓</label></dt>
<dd>${eventer.profile.lastName}</dd>
<dt><label>名</label></dt>
<dd>${eventer.profile.firstName}</dd>
</td>
</tr>
<tr>
<td>メールアドレス(半角英数字)</td>
<td>${eventer.contact.mailAddress}</td>
</tr>
<tr>
<td>電話番号(半角数字)</td>
<td>${eventer.contact.telephoneNumber}</td>
</tr>

</tbody>
</table>

<table class="table table-bordered">
<tbody>
<tr>
<td>パスワード</td>
<td>
<dt><label>パスワード</label></dt>
<dd>********</dd>
</td>
</tr>

</tbody>
</table>

<table class="table table-bordered">
<tbody>
<tr>
<td colspan="2">
<input type="submit" value="登録" style="padding: 2px 12px;" class="btn">
</td>
</tr>
</tbody>
</table>
</form>