<!DOCTYPE HTML>
<html lang="ja-JP">
<head>
<title>イベントアプリケーション</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="$link.contextPath/bootstrap/css/bootstrap.css" type="text/css" />
<script src="$link.contextPath/js/jquery-1.7.2.min.js" ></script>
<script src="$link.contextPath/bootstrap/js/bootstrap.js"></script>
</head>
<body id="eventer_register">
<div class="container">
<div class="row">
<div class="span12">
<div class="well">
  <a href="$link.relative('/eventer/new')" class="btn large disabled">主催者側登録</a>
</div><!--.well-->
</div>
</div>
</div>
</body>
</html>