<!DOCTYPE HTML>
<html lang="ja-JP">
<head>
<title>イベントアプリケーション</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="$link.contextPath/bootstrap/css/bootstrap.css" type="text/css" />
<script src="$link.contextPath/js/jquery-1.7.2.min.js" ></script>
<script src="$link.contextPath/bootstrap/js/bootstrap.js"></script>
</head>
<body id="dashboard">
<div class="container">
<div class="row">
<div class="span12">
#if($auth.anonymous)
<div class="well">
  <a href="$link.relative('/eventers/new')" class="btn large disabled">主催者側登録</a>
</div><!--.well-->
#end
#if($auth.eventer)
<div class="well">
  <a href="$link.relative('/events/new')" class="btn large disabled">イベント登録</a>
</div><!--.well-->
#end
#if(!$auth.anonymous)
<div class="well">
<p>
#if($auth.admin)
<span>管理者 </span>
#end
$!auth.user.fullName
</p>
<a id="logout" href="$link.relative('/logout')" class="btn large disabled">logout</a>
</div>
#end
#if($auth.anonymous)
<div class="well">
#parse( "dashboard/loginForm.vm" )
</div><!--.well-->
#end
</div>
</div>
</div>
</body>
</html>