<h1>ログイン</h1>
#if ( $loginForm.loginFailed && $loginForm.allEntered )
  <p class="alert alert-error">ユーザ名とパスワードが一致しません。<p/>
#end
<form action="$link.relative('/login')" method="POST" id="loginForm">
<ul>
<li>
<label for="id">ID</label>
<input type="text" name="j_username" value="$!loginForm.username" id="loginEmail" />
#if ($loginForm.loginFailed && $loginForm.usernameEmpty)
<em class="alert alert-error">ユーザ名を入力してください</em>
#end
</li>
<li>
<label for="pw">Password</label>
<input type="password" name="j_password" id="password" />
#if ($loginForm.loginFailed && $loginForm.passwordEmpty)
<em class="alert alert-error">パスワードを入力してください</em>
#end
</li>
</ul>
<input name="login" type="submit" value="ログイン" style="padding: 2px 12px;" class="btn" id="loginSubmit" name="loginSubmit"/>
</form>